@media (max-width: 880px) {
    .main-content-place{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .first-column{
        gap: 2em;
    }
    .information-sign-container{
        left: 15%;
    }
    .third-photo{
        margin-top: 2em;
    }
    .button-of-menu{
        display: none;
    }
    .menu{
        justify-content: start;
    }
    .button-container{
        width: 100vw;
        display: flex;
        justify-content: space-between;
        margin-left: 5%;
        margin-right: 5%;
    }
    .menu-list-button{
        display:flex;
        justify-content: end;
    }
}

@media (min-width: 880px)
{
    .mobile-menu{
        display: none;
    }
}